<!DOCTYPE HTML>
<!--使用thymeleaf模板引擎，需要加上这行代码-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Second Brother's community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Second Brother's community</span>
            </button>
            <a class="navbar-brand" href="#">Second Brother's community</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Question">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.githubUser == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=1d6ec412a4839fde48b1&redirect_uri=http://localhost:8888/callback&scope=user&state=1">Log
                    in</a></li>
                <li class="dropdown" th:if="${session.githubUser != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.githubUser}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Message center</a></li>
                        <li><a href="#">Personal information</a></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>